body {
  font-family: Arial, sans-serif;
  color: black;
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
  transition: all 0.25s;
}
a:hover {
  color: rgb(37, 28, 30);
  background-color: rgb(155, 111, 151);
  padding: 5px;
  border-radius: 10px ;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}

button {
  margin-left: 12px;
  border-radius: 8px;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  box-shadow: -1px 2px 16px -4px rgb(98, 78, 118);
  transition: all 0.3s;
}

button:focus,
button:hover {
  background-color: rgb(98, 78, 118);
  color: rgb(225, 214, 225);
}

input {
  margin-left: 12px;
  padding: 12px;
  border: 1px solid rgb(68, 30, 83);
  box-shadow: -1px 2px 16px -4px rgb(122, 41, 54);
  border-radius: 8px;
  outline: none;
  width: 240px;
  font-size: 16px;
}